# KDE Neon
# Requires a custom docker container
# The Dockerfile is inside .github/assets/docker/kde-neon
# Build Darkly from release tag and publish .deb package

on:
  workflow_call:
    inputs:
      cache-file-path:
        required: true
        type: string
      version:
        required: true
        type: string
jobs:
  build:
    runs-on: ubuntu-24.04
    container: deltacopy/darkly-kde-neon:0.2
    steps:
      - uses: actions/cache/restore@v4
        id: cache
        with:
          key: ${{ runner.os }}-v${{ inputs.version }}-${{ hashFiles(inputs.cache-file-path) }}
          path: ${{ inputs.cache-file-path }}
          fail-on-cache-miss: true
      - name: Run update
        run: apt update -y
      - name: Run dist dist-upgrade
        run: apt dist-upgrade -y
      - name: Install extra build dependencies
        run: |
          apt install -y -qq libkf5coreaddons-dev libkf5configwidgets-dev libkf5iconthemes-dev \
                                  libkf5windowsystem-dev libkf5kcmutils-dev libkf6style6 \
                                  qtdeclarative5-dev libkf5style-dev
      - name: Extract release tarball
        run: |
          tar xvf ${{ inputs.cache-file-path }}
      - name: Build Darkly
        run: |
          cmake_opts=(
           -B Darkly-${{ inputs.version }}/build
           -S Darkly-${{ inputs.version }}
           -DBUILD_DEBS=ON
           )
           echo "${cmake_opts[@]}"
           cmake "${cmake_opts[@]}" && cmake --build Darkly-${{ inputs.version }}/build -j$(nproc) && echo "Build completed!" || echo "Build failed!" || exit 1
      - name: Build DEB
        id: step_build
        run: |
          cd Darkly-${{ inputs.version }}/build; cpack -G DEB -V -DCPACK_THREADS=$(nproc)
          artifact=$GITHUB_WORKSPACE/Darkly-${{ inputs.version }}/packages/darkly-${{ inputs.version }}_amd64.deb
          publish_filename=darkly-${{ inputs.version }}_kdeneon_amd64.deb
          echo "Moving file to $GITHUB_WORKSPACE/$publish_filename"
          mv $artifact $GITHUB_WORKSPACE/$publish_filename
          echo "ARTIFACT=$publish_filename" >> "$GITHUB_ENV"
          SHA256SUM=$(sha256sum $GITHUB_WORKSPACE/$publish_filename | awk '{ print $1 }')
          echo "ARTIFACT = $publish_filename | SHA256SUM = $SHA256SUM"
          echo "SHA256SUM=$SHA256SUM" >> "$GITHUB_ENV"
      - name: Publish DEB
        if: ${{ env.SHA256SUM != '' }}
        uses: actions/upload-artifact@v5
        with:
          name: ${{ env.ARTIFACT }}
          path: ${{ env.ARTIFACT }}
          retention-days: 1
